<form class="viewbox" v-form='form'>
    <div class="header">
        <div class="wrap">
            <div class="l">
                <a back class="button"><i class="icon-back"></i></a>
            </div>
            <div class="c">
                <em>{{title}}</em>
            </div>
            <div class="r">

            </div>
        </div>
    </div>
    <div class='body'>
        <sep-scroll>
            <div class="layout">
                <ul>
                    <li>
                        <div class="item field">
                            <div class="content">
                                <em class="name">
                                    姓名
                                </em>
                                <div class="edit">
                                    <input type="text" placeholder="请输入您的姓名" v-model='model.name' v-rules='{required : true}'
                                        data-required-msg='请输入您的姓名'>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item field">
                            <div class="content">
                                <em class="name">
                                    联系电话
                                </em>
                                <div class="edit">
                                    <input type="tel" placeholder="请输入您的电话号码" v-model='model.mobile' v-rules='{required : true, tel: true}'
                                        data-required-msg='请输入手机号' data-tel-msg='手机号格式无效' maxlength="11" type="tel">
                                    <!-- <input type="text" v-model='model.mobile' disabled="true"/> -->
                                </div>
                            </div>
                            <div class="other"></div>
                        </div>
                    </li>
                    <li>
                        <div class="item field">
                            <div class="content">
                                <em class="name">
                                    身份证照片
                                </em>
                                <div class="edit">
                                    <div class="files">
                                        <div class="wrap">
                                            <ul>
                                                <li>
                                                    <div class="item button">
                                                        <p class="op" v-if='null == model.idcnPicFront'>正面</p>
                                                        <img :src="model.idcnPicFront" width="100%" height="100%"
                                                            v-else>
                                                        <sep-file v-model='model.idcnPicFront' v-rules='{required : true}'
                                                            data-required-msg='请提交您的身份证照片'></sep-file>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="item button">
                                                        <p class="op" v-if='null == model.idcnPicBack'>反面</p>
                                                        <img :src="model.idcnPicBack" width="100%" height="100%" v-else>
                                                        <sep-file v-model='model.idcnPicBack' v-rules='{required : true}'
                                                            data-required-msg='请提交您的身份证照片'></sep-file>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="other"></div>
                        </div>
                    </li>
                    <li>
                        <div class="item field">
                            <div class="content">
                                <em class="name">
                                    详细地址
                                </em>
                                <div class="edit">
                                    <input type="text" placeholder="请输入您的详细地址" v-model='model.address' v-rules='{required : true}'
                                        data-required-msg='请输入您的详细地址'>
                                </div>
                            </div>
                            <div class="other"></div>
                        </div>
                    </li>
                    <li>
                        <div class="item field">
                            <div class="content">
                                <em class="name">
                                    公司名称
                                </em>
                                <div class="edit">
                                    <input type="text" placeholder="请输入您的公司名称" v-model='model.companyName' v-rules='{required : true}'
                                        data-required-msg='请输入您的公司名称'>
                                </div>
                            </div>
                            <div class="other"></div>
                        </div>
                    </li>
                    <li>
                        <div class="item field">
                            <div class="content">
                                <em class="name">
                                    营业执照
                                </em>
                                <div class="edit">
                                    <div class="files">
                                        <div class="wrap">
                                            <ul>
                                                <li>
                                                    <div class="item button">
                                                        <p class="op" v-if='null === model.businessPic'>照片</p>
                                                        <img :src="model.businessPic" width="100%" height="100%" v-else>
                                                        <sep-file v-model='model.businessPic' v-rules='{required : true}'
                                                            data-required-msg='请提交您的公司营业执照'></sep-file>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="other"></div>
                        </div>
                    </li>
                    <li>
                        <div class="item field">
                            <div class="content">
                                <em class="name">
                                    组织机构代码
                                </em>
                                <div class="edit">
                                    <input type="text" placeholder="请输入您的组织机构代码" v-model='model.orgCode' v-rules='{required : true}'
                                        data-required-msg='请输入您的组织机构代码'>
                                </div>
                            </div>
                            <div class="other"></div>
                        </div>
                    </li>
                    <li>
                        <div class='layout'>
                            <ul>
                                <li>
                                    <div class='item field'>
                                        <div class='content'>
                                            <div class='edit'>
                                                <div class="checkbox button">
                                                    <input type="checkbox" v-model='model.checked' v-rules='{required : true}'>
                                                    <i>
                                                    </i>
                                                    <small>
                                                        我同意
                                                    </small>
                                                </div>
                                                <a class='fg-red' v-click='agreement.m_show'>
                                                    《古美术商家在线协议》
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <sep-button :class='{disable :!model.checked}' v-click='form.m_submit' class='red submit' text='立即申请'
                    wtext='立即申请'></sep-button>
            </div>
        </sep-scroll>
    </div>
</form>