<form class="viewbox" v-form='form'>
	<div class="header">
		<div class="wrap">
			<div class="l">
				<a back class="button"><i class="icon-back"></i></a>
			</div>
			<div class="c">
				<em>{{title}}</em>
			</div>
			<div class="r">

			</div>
		</div>
	</div>
	<div class='body'>
		<sep-scroll>
			<div class="layout">
				<ul>
					<li>
						<div class="item field">
							<div class="content">
								<em class="name">
									姓名
								</em>
								<div class="edit">
									<input type="text" placeholder="请输入您的姓名" v-model='model.name' v-rules='{required : true}' data-required-msg='请输入您的姓名'>
								</div>
							</div>
							<div class="other">
								<div class='item field'>
									<div class='content'>
										<div class='edit'>
											<sep-radios v-model='model.sexType'>
												<div class='button'>
													<input value='0' />
													<!-- <i></i> -->
													<small>
														男
													</small>
												</div>
												<div class='button'>
													<input value='1'>
													<!-- <i></i> -->
													<small>
														女
													</small>
												</div>
											</sep-radios>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item field">
							<div class="content">
								<em class="name">
									联系电话
								</em>
								<div class="edit">
									<input type="tel" placeholder="请输入您的电话号码" v-model='model.mobile' v-rules='{required : true, tel: true}'
									 data-required-msg='请输入手机号' data-tel-msg='手机号格式无效' maxlength="11" type="tel">
									<!-- <input type="text" v-model='model.mobile' disabled="true"/> -->
								</div>
							</div>
							<div class="other"></div>
						</div>
					</li>
					<li>
						<div class="item field">
							<div class="content">
								<em class="name">
									身份证照片
								</em>
								<div class="edit">
									<div class="files">
										<div class="wrap">
											<ul>
												<li>
													<div class="item button">
														<p class="op" v-if='null == model.idcnPicFront'>正面</p>
														<img :src="model.idcnPicFront" width="100%" height="100%" v-else>
														<sep-file v-model='model.idcnPicFront' v-rules='{required : true}' data-required-msg='请提交您的身份证照片'></sep-file>
													</div>
												</li>
												<li>
													<div class="item button">
														<p class="op" v-if='null == model.idcnPicBack'>反面</p>
														<img :src="model.idcnPicBack" width="100%" height="100%" v-else>
														<sep-file v-model='model.idcnPicBack' v-rules='{required : true}' data-required-msg='请提交您的身份证照片'></sep-file>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="other"></div>
						</div>
					</li>
					<li>
						<div class="item field">
							<div class="content">
								<em class="name">
									详细地址
								</em>
								<div class="edit">
									<input type="text" placeholder="请输入您的详细地址" v-model='model.address' v-rules='{required : true}'
									 data-required-msg='请输入您的详细地址'>
								</div>
							</div>
							<div class="other"></div>
						</div>
					</li>
					<li>
						<div class="item field">
							<div class="content">
								<em class="name">
									公司名称
								</em>
								<div class="edit">
									<input type="text" placeholder="请输入您的公司名称" v-model='model.companyName' v-rules='{required : true}'
									 data-required-msg='请输入您的公司名称'>
								</div>
							</div>
							<div class="other"></div>
						</div>
					</li>
					<li>
						<div class="item field">
							<div class="content">
								<em class="name">
									营业执照
								</em>
								<div class="edit">
									<div class="files">
										<div class="wrap">
											<ul>
												<li>
													<div class="item button">
														<p class="op" v-if='null === model.businessPic'>照片</p>
														<img :src="model.businessPic" width="100%" height="100%" v-else>
														<sep-file v-model='model.businessPic' v-rules='{required : true}' data-required-msg='请提交您的公司营业执照'></sep-file>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="other"></div>
						</div>
					</li>
					<li>
						<div class="item field">
							<div class="content">
								<em class="name">
									组织机构代码
								</em>
								<div class="edit">
									<input type="text" placeholder="请输入您的组织机构代码" v-model='model.orgCode' v-rules='{required : true}'
									 data-required-msg='请输入您的组织机构代码'>
								</div>
							</div>
							<div class="other"></div>
						</div>
					</li>
					<li>
						<div class='layout'>
							<ul>
								<li>
									<div class='item field'>
										<div class='content'>
											<div class='edit'>
												<div class="checkbox button">
													<input type="checkbox" v-model='model.checked' v-rules='{required : true}'>
													<i>
													</i>
													<small>
														我同意
													</small>
												</div>
												<a class='fg-red' v-click='agreement.m_show'>
													《古美术商家在线协议》
												</a>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</li>
				</ul>
				<sep-button :class='{disable :!model.checked}' v-click='form.m_submit' class='red submit' text='立即申请' wtext='立即申请'></sep-button>
			</div>


		</sep-scroll>
		<sep-pop name="agreement">
			<div class="article">
				<div class="wrap">
					<ul>
						<li>
							<div class="content">
								<span class="name">
									一、审核内容
								</span>
								<p>
									评分用户对单件商品做出相应估价、
									评分和说明。
								</p>

							</div>
						</li>
						<li>
							<div class="content">
								<span class="name">
									二、审核数量
								</span>
								<p>
									评分用户需平均每天审核不少于30件
									商品，按月累计结算累计超过900件，否则不予提现。
								</p>
							</div>
						</li>
						<li>
							<div class="content">
								<span class="name">
									三、申请流程
								</span>
								<p>
									会员——预备专家（预备专家考核期
									3个月）——正式专家。
								</p>
							</div>
						</li>
						<li>
							<div class="content">
								<span class="name">
									四、提成
								</span>
								<p>
									成为正式专家后，所评分商品订单完成后，
									最接近售价的评分用户获得售价1%的提成奖励，若
									有多个评分用户估价相同且最接近于成交价格，则
									多人同时瓜分商品售价1%的提成奖励。
								</p>
							</div>
						</li>
						<li>
							<div class="content">
								<span class="name">
									五、评分依据
								</span>
								<p>
									商品属性的完整度、各项属性准确性、
									商品性能等条件是否满足，加权进行评分。
								</p>
							</div>
						</li>
						<li>
							<div class="content">
								<span class="name">
									六、订单完成
								</span>
								<p>
									提成将于商品订单完成后打到您的余额账户内。
								</p>
							</div>
						</li>
						<li>
							<div class="content">

								<p style="text-align: center;color: red;font-size: 14px;">
									古美术拥有最终解释权。
								</p>
							</div>
						</li>
						<li>
							<div class="content">
								<a v-click='agreement.m_hide' class='red submit button'>确定</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</sep-pop>

	</div>
</form>