<div class = "viewbox">
	<div class = "header">
		<div class = "wrap">
			<div class = "l">
				<a back class = "button"><i class = "icon-back"></i></a>
			</div>
			<div class = "c">
				<em>{{title}}</em>
			</div>
			<div class = "r">
				
			</div>
		</div>
	</div>
	<div class = 'body'>

	
		<sep-scroll :style="{bottom: '50px'}">
			<form v-form = 'form'>
				<div class="layout margin-top-far">
					<ul>
						<li>
							<div class="item field">
								<div class="content">
									<em class="name">
										请输入原密码:
									</em>
									<div class="edit">
										<input type="text" v-rules = '{required : true, minlength : 6}' data-required-msg = '密码不能为空' data-minlength-msg = '密码至少6位数'  placeholder="请输入原密码" v-model='model.oldPassword'>
									</div>
								</div>
								<div class="other">
								
								</div>
							</div>
						</li>
						<li>
							<div class="item field">
								<div class="content">
									<em class="name">
										请输入新密码:
									</em>
									<div class="edit">
										<input type="text" v-rules = '{required : true, minlength : 6}' data-required-msg = '请输入新密码' data-minlength-msg = '新密码至少6位数'  placeholder="请输入新密码" v-model='model.password'>
									</div>
								</div>
								<div class="other">
								
								</div>
							</div>
						</li>
						<li>
							<div class="item field">
								<div class="content">
									<em class="name">
										请确认新密码:
									</em>
									<div class="edit">
										<input type="text" v-rules = '{required : true, minlength : 6}' data-required-msg = '请输入确认新密码' data-minlength-msg = '新密码至少6位数' placeholder="请再次输入一次密码" v-model='model.passwordConfirm'>
									</div>
								</div>
								<div class="other">
								
								</div>
							</div>
						</li>
					</ul>
				</div>
			</form>
			<section slot = "bottom">
				<sep-dev></sep-dev>
			</section>
		</sep-scroll>
		<div class = "footer center">
			<div class = "bg-white">
				<sep-button class = 'submit save' text = '保存'  wtext = '保存中..' v-click="form.m_submit"></sep-button>
			</div>
		</div>
	</div>
</div>

