<div class="viewbox">
	<div class="header">
		<div class="l">

		</div>
		<div class="c">
			<em>
				我的
			</em>
		</div>
		<div class="r">
			<a v-click="{method : m_push, args : 'user.settings'}" class="button">
				<i class='icon-settings'></i>
			</a>
		</div>
	</div>
	<div class='body'>
		<canvas id="canvas" :height="ch*2" :width="cw*2" style="opacity: 0;"></canvas>
		<div class="canvas_mask" v-if="isShow" v-click="m_close_canvas">
			<img :src="canvas_image" alt="" class="canvas_image" :style="{width:cw+'px',height:ch+'px'}">
		</div>
		<sep-scroll>
			<div id="qrcode" style="opacity: 0;position: absolute;"></div>
			<div type="template" name="user-center">
				<div class="top" :class="base_bg">
					<div class="layout" v-if='null == user'>
						<ul>
							<li>
								<div class="item link-arrow button" push='user.login?source=user.center'>
									<div class="media">
										<i class="icon-my"></i>
									</div>
									<div class="content">
										<div class="props">
											<div class="prop">
												<div class="l">
													立即登录
												</div>
												<div class="r">
												</div>
											</div>
											<div class="prop">
												<div class="l">

												</div>
												<div class="r">
												</div>
											</div>
										</div>
									</div>
									<div class="other">

									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="layout" v-else>
						<ul>
							<li>
								<div class="item link-arrow" v-click="{method : m_push, args : 'user.info'}">
									<div class="media">
										<img :src='user.portraitUrl' />
									</div>
									<div class="content">
										<div class="props">
											<div class="prop">
												<div class="l">
													{{user.nickname}}
												</div>
												<div class="r">
												</div>
											</div>
											<div class="prop" v-if='null == user.regionLeft || null == user.regionRight'>
												<div class="l">
													<span class='number fz-small'>0 / 0</span>
												</div>
												<div class="r">
												</div>
											</div>
											<div class="prop" v-else>
												<div class="l">
													<span class='number fz-small'>{{user.regionLeft}} / {{user.regionRight}}</span>
												</div>
												<div class="r">
												</div>
											</div>
										</div>
									</div>
									<div class="other" style="position: relative;top: 20px;">
									</div>
								</div>
							</li>
							<img src="modules/images/myqrcode.png" alt="" class="myqrcode" v-click="m_myqrcode">
						</ul>
					</div>
				</div>
				<div class="layout margin-top-far">
					<ul>
						<li class="tools-more">
							<div v-click="{method: m_push, args : 'order.list?state=0'}" class="item button link-arrow">
								<div class="media">
									<i class="icon-formfill fg-yellow">
									</i>
								</div>
								<div class="content">
									全部订单
								</div>
								<div class="other fg-gray fz-medium">
									查看全部订单
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="tools splitline">
					<ul>
						<li>
							<!-- m_push('order.list?state=1') -->
							<a class="button" v-click="{method : m_push, args : 'order.list?state=1'}">
								<i class="icon-pay">

								</i>
								<small>
									待付款
								</small>
							</a>
						</li>
						<li>
							<a class="button" v-click="{method :m_push,args : 'order.list?state=2'}">
								<i class="icon-send">

								</i>
								<small>
									待发货
								</small>
							</a>
						</li>
						<li>
							<!-- m_push('') -->
							<a class="button" v-click="{method : m_push, args : 'order.list?state=3'}">
								<i class="icon-deliver">

								</i>
								<small>
									待收货
								</small>
							</a>
						</li>
						<li>
							<a class="button" v-click="{method : m_push, args : 'order.list?state=4'}">
								<i class="icon-post">

								</i>
								<small>
									售后处理
								</small>
							</a>
						</li>
					</ul>
				</div>
				<div class="layout margin-top-far">
					<ul>
						<li class="margin-top-far">
							<div v-click="{method : m_push, args : 'user.myprice'}" class="item button link-arrow">
								<div class="media">
									<i class="icon-commentfill fg-yellow">
									</i>
								</div>
								<div class="content">
									我的出价
								</div>
								<div class="other">
									<span class='fg-red number' v-if='null != user'>

									</span>
								</div>
							</div>
						</li>
						<li class="margin-top-far">
							<!-- m_push('follow.list') -->
							<div v-click="{method : m_push, args : 'follow.list'}" class="item button link-arrow">
								<div class="media">
									<i class="icon-favorfill fg-yellow">
									</i>
								</div>
								<div class="content">
									我的关注
								</div>
								<div class="other">
									<span class='fg-red number' v-if='null != user'>

									</span>
								</div>
							</div>
						</li>
						<li>
							<!-- m_push('user.money') -->
							<div v-click="{method : m_push, args : 'user.money'}" class="item button link-arrow">
								<div class="media">
									<i class="icon-rechargefill fg-yellow">
									</i>
								</div>
								<div class="content">
									账户余额
								</div>
								<div class="other fg-gray">
									<span class='fg-red number' v-if='null != user'>
										{{user.allAmount}}
									</span>
								</div>
							</div>
						</li>
						<li>
							<!-- m_push('user.packet') -->
							<div v-click="{method : m_push, args : 'user.packet'}" class="item button link-arrow">
								<div class="media">
									<i class="icon-redpackagefill fg-yellow">
									</i>
								</div>
								<div class="content">
									我的红包与优惠券
								</div>
								<div class="other fg-gray">
									<span class='fg-red number' v-if='null != user'>
										{{user.redPacketAmount}}
									</span>
								</div>
							</div>
						</li>
						<li>
							<!-- m_push('user.packet') -->
							<div v-click="{method : m_push, args : 'user.recommend'}" class="item button link-arrow">
								<div class="media">
									<i class="icon-fenleifill fg-yellow">
									</i>
								</div>
								<div class="content">
									推荐提成评价与奖励
								</div>
								<div class="other fg-gray">

								</div>
							</div>
						</li>
						<li>
							<div class="item button link-arrow" v-click="{method : m_push, args : 'bank.list'}">
								<div class="media">
									<i class="icon-picfill fg-yellow">
									</i>
								</div>
								<div class="content">
									我的银行卡
								</div>
								<div class="other fg-gray">
								</div>
							</div>
						</li>
						<li class="margin-top-far">
							<div class="item button link-arrow" v-click="{method : m_push, args : 'user.member.center'}">
								<div class="media">
									<i class="icon-choicenessfill fg-yellow">
									</i>
								</div>
								<div class="content">
									会员中心
								</div>
								<div class="other fg-gray">

								</div>
							</div>
							<div class="item button link-arrow" v-click="{method: m_push, args : 'user.middl.man'}">
								<div class="media">
									<i class="icon-friendfill fg-yellow">
									</i>
								</div>
								<div class="content">
									经纪人
								</div>
								<div class="other fg-gray">

								</div>
							</div>
						</li>
						<li class="margin-top-far">
							<div class="item button link-arrow" v-click="{method: m_push, args : 'address.list'}">
								<div class="media">
									<i class="icon-locationfill fg-yellow">
									</i>
								</div>
								<div class="content">
									收货地址管理
								</div>
								<div class="other fg-gray">

								</div>
							</div>
						</li>
						<li class="margin-top-far">
							<div class="item button link-arrow" v-click="{method : m_push, args : 'user.settings'}">
								<div class="media">
									<i class="icon-settingsfill fg-yellow">
									</i>
								</div>
								<div class="content">
									设置中心
								</div>
								<div class="other fg-gray">

								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<section slot="bottom">
				<sep-dev>
				</sep-dev>
			</section>
		</sep-scroll>
	</div>
</div>