.seller-add .submit {
    margin: 10px 40px 20px 40px;
    border-radius: 30px;
    border: 1px solid transparent;
    background-color: #FF0E0D;
}

.seller-add .submit.disable {
    background-color: transparent;
    border: 1px solid #D3D3D3;
}

.seller-add .layout>ul>li .item .op {
    text-align: center;
    width: 100%;
    color: #aaa;
    font-size: 18px;
}

/*.seller-add .button.radio{
     margin-right: 5px; 
     
}*/
.seller-add .button.radio small {
    border-radius: 100%;
    border: 1px solid #aaa;
    margin-left: 0;
    width: 30px;
    height: 30px;
    display: block;
    text-align: center;
    line-height: 30px;
}

.seller-add .button.radio input[type=radio]:checked~small {
    border-radius: 100%;
    border: 1px solid #FF0E0D;
    margin-left: 0;
    width: 30px;
    height: 30px;
    display: block;
    text-align: center;
    line-height: 30px;
}

.seller-add .theme-base .button.radio input[type=radio]:checked~small {
    border-radius: 100%;
    border: 1px solid #FF0E0D;
    margin-left: 0;
    width: 30px;
    height: 30px;
    display: block;
    text-align: center;
    line-height: 30px;
}

.seller-add .agreement .submit {
    margin: 10px 40px 20px 40px;
    border-radius: 30px;
    border: 1px solid transparent;
    background-color: #FF0E0D;
    text-align: center;
    display: block;
    padding: 8px 0;
}

.seller-add .agreement p {
    color: black;
}

.seller-add .agreement .article .wrap {
    overflow-y: scroll !important;
}

.seller-add .agreement .content {
    padding: 3px 10px;
}

.seller-add .agreement .box {
    top: 2% !important;
}
.seller-add .layout .disable{
    color: #b4afa8 !important;
}