.user-packet  .layout > ul:before{
	border-top: 60px solid #f1f1f1 !important;
}
.user-packet .layout>ul>li .item{
	height: 30px !important;
}
.user-packet  .theme-red-bg{
	background-color: white !important;
}
.user-packet .top .layout > ul > li {
    background-color: transparent;
    color:#fff;
    height: 120px;
}
.user-packet .top .layout > ul > li > .money {
    padding:0px 15px;
    line-height: 50px;
    font-size: 3.5rem;
}
.user-packet .container{
	margin-top: 10px;
	position: relative;
	left: 0;
	top: 0;
	background-color: white;
	padding: 0 15px;
}
.user-packet .container .container_text{
	position: relative;
	left: 0;
	top: 0;
	height: 30px;
}
.user-packet .container .tl{
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	left: 0;
	bottom: 0;
}
.user-packet .container .tr{
	font-size: 12px;
	position: absolute;
	right: 0;
	bottom: 0;
	color: #d81617;
	font-weight: bold;
}
.user-packet .container .ticket_item{
	background-image: url('../images/discount.coupon/red_Coupon_500_2.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100px;
	display: flex;
}
.user-packet .container .fl{
	width: 66%;
}

.user-packet .container .fr{
	width: 34%;
}
.user-packet .container p{
	color: white;
}

@media only screen and (min-width: 310px) and (max-width: 370px) {
	.user-packet .container .fl .text_data{
			letter-spacing: 0 !important;
		font-size: 10px !important;
	}
	.user-packet .container .fl .text_hd{
		letter-spacing: 0 !important;
		font-size: 10px !important;
	}
	.user-packet .container .ticket_item{
		        height: 100px !important;
	}
		.user-packet .container .ticket_box .fl div{
			position: absolute;
			bottom: 10% !important; 
		}
}