.welcome .bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	text-align: center;
}
.welcome .bg .logo {
	z-index: 5;
	position: relative;
	text-align: center;
	margin-top: 30%;
	height: 100px;
}

.welcome .bg .logo img {
	display: inline-block;
}
.welcome .enter-appy {
	position: absolute;
	bottom: 20%;
	left: 20px;
	right: 20px;
	text-align: center;
	display: block;
	height: 45px;
	line-height: 45px;
	background-color: #ee3333;
	color: #fff;
	border-radius: 30px;
}
.welcome .copyright {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	text-align: center;
	color: #666;
	font-size: 16px;
}
.welcome em {
	position: absolute;
	right: 10px;
	top: 10px;
	padding: 5px 15px;
	color: #fff;
	border-radius: 2px;
	z-index: 10;
	font-size: 14px;
	font-family: "arial";
	background-color: rgba(0,0,0,0.4);
}