.activity {

}
.activity .wrap {
	background-color: #fff;
	border-radius: 4px;
	padding: 0 0 10px 0;
	position: relative;
	z-index: 10;
}
.activity .close {
	position: absolute;
	right: -12.5px;
	top: -12.5px;
	width: 30px;
	height: 30px;
	background-color: #ee0000;
	color: #fff;
	border-radius: 100%;
	text-align: center;
	line-height: 30px;
	z-index: 3;
	border: 2px solid #fff;
}
.activity .title {
	padding: 10px 20px;
	text-align: center;
	position: relative;
	z-index: 2;
}
.activity .title:after {
	position: absolute;
	left: 5px;
	bottom: 0;
	right: 5px;
	content: '';
	border-bottom: 1px solid #eee;
}
.activity .title em {
	font-size: 1.25rem;
	font-family: "Microsoft Yahei" ;
}
.activity .content {
	text-align: center;
	padding: 10px;
}
.activity .content input {
	padding: 10px 10px;
	border: 2px solid #ccc;
	border-radius: 20px;
	text-align: center;
	color: #ee3333;
	font-size: 1rem;
	font-family: "arial";
	font-weight: bold;
}
.activity .submit {
	height: 40px;
	line-height: 40px;
	background-color: #ee3333;
	color: #fff;
	text-align: center;
	margin: 10px 10px;
	border-radius: 4px;
}
.activity .desc {
	font-size: 13px;
	color: #333;
	text-align: center;
	padding: 10px;
}
.activity .button.m{
	margin: 0 70px;
	display: block;
	border-radius: 25px ; 
}
